[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
mypy = "*"
flake8 = "*"
black = "*"
pytest = "==5.0.1"
setuptools = "*"
wheel = "*"
twine = "*"

[packages]

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
