[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
mypy = "*"
flake8 = "*"
black = "*"
pytest = "*"
setuptools = "*"
wheel = "*"
twine = "*"
urllib-ext = "*"

[packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
